/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

html body {
background-color:#EEEEEE;
}

#wrap {
width:1000px;
margin:0 auto;
padding-top:50px;
background-color:#EEEEEE;
}
#main {
float:right;
width:800px;
min-height:300px;
}
#sidebar {
float:left;
width:200px;
}

#footer {
 clear: both;
 position: relative;
 padding:3em;
 text-align:center;
}