#edidWrapper {
  width:auto;
}

#edidParsed {
  float:right;
  width:600px;
}
#inputTextBox {
  float:left;
  position:relative;
}
#parseButton {
  position:absolute;
  right:0px;
}

#inputEdid, #outputEdid {
  resize: none;
}

#edidTreeviewWrapper {
  float:left;
  width:250px;
}
#edidDataWrapper {
    /*padding-top:25px;*/
    /*padding-bottom:25px;*/
    float:right;
    width:350px;
}