#edidWrapper {
  width:auto;
}

#edidParsed {
  float:right;
  width:400px;
}
#inputTextBox {
  float:left;
  position:relative;
}
#parseButton {
  position:absolute;
  right:0px;
}

#inputEdid, #outputEdid {
  resize: none;
}