<H1>AVI Infoframe:</H1>

<table>
  <tr>
    <td>
      <input type="checkbox" ng-model="checkbox.addLineBreaks" ng-click="updateTextBox()"> Add Line Breaks
    </td>
    <td>
      <input type="checkbox" ng-model="checkbox.addCommas" ng-click="updateTextBox()"> Add Commas
    </td>
    <td>
        <input type="checkbox" ng-model="checkbox.addHex" ng-click="updateTextBox()"> Add Hex Prefix (0x)
    </td>
  </tr>
</table>
<form ng-submit="parse()">
  <textarea id="inputText" ng-model="inputText.data" class="field span5" rows="8"></textarea>
  <input type="submit" value="Parse" ng-click="parse()">
</form>

