
<h2>Basic Display Parameters</h2>


<input type="checkbox" 
        disabled="disabled" 
        ng-checked="edid.bdp.digitalInput">
Digital Input<br />

<input type="checkbox" 
        disabled="disabled" 
        ng-checked="edid.bdp.vesaDfpCompatible">
Compatible with VESA DFP<br />
Maximum Horizontal Image Size: {{edid.bdp.maxHorImgSize}} <br />
Maximum Vertical Image Size: {{edid.bdp.maxVertImgSize}} <br />
Display Gamma: {{edid.bdp.displayGamma.toFixed(2)}} <br />

<input type="checkbox" 
        disabled="disabled" 
        ng-checked="edid.bdp.dpmsStandby">
DPMS Standby<br />

<input type="checkbox" 
        disabled="disabled" 
        ng-checked="edid.bdp.dpmsSuspend">
DPMS Suspend<br />

<input type="checkbox" 
        disabled="disabled" 
        ng-checked="edid.bdp.dpmsActiveOff">
DPMS Active-Off<br />
Display Type: {{edid.digitalColorSpace[edid.bdp.displayType]}} <br />

<input type="checkbox" 
        disabled="disabled" 
        ng-checked="edid.bdp.standardSRgb">
Standard sRGB Color Space<br />

<input type="checkbox" 
        disabled="disabled" 
        ng-checked="edid.bdp.preferredTiming">
Preferred Timing Mode<br />

<input type="checkbox" 
        disabled="disabled" 
        ng-checked="edid.bdp.gtfSupported">
GTF Supported<br />
