
<h3>Basic Display Parameters</h3>

Digital Input: {{edid.bdp.digitalInput}} <br />
Compatible with VESA DFP: {{edid.bdp.vesaDfpCompatible}} <br />
Maximum Horizontal Image Size: {{edid.bdp.maxHorImgSize}} <br />
Maximum Vertical Image Size: {{edid.bdp.maxVertImgSize}} <br />
Display Gamma: {{edid.bdp.displayGamma.toFixed(2)}} <br />
DPMS Standby: {{edid.bdp.dpmsStandby}} <br />
DPMS Suspend: {{edid.bdp.dpmsSuspend}} <br />
DPMS Active-Off: {{edid.bdp.dpmsActiveOff}} <br />
Display Type: {{edid.digitalColorSpace[edid.bdp.displayType]}} <br />
Standard sRGB Color Space: {{edid.bdp.standardSRgb}} <br />
Preferred Timing Mode: {{edid.bdp.preferredTiming}} <br />
GTF Supported: {{edid.bdp.gtfSupported}} <br />
