<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#chromacityCoords">
      <h3>Chromaticity Coordinates</h3>
    </a>
  </div>
  <div id="chromacityCoords" class="accordion-body collapse">
    <div class="accordion-inner">
      Red X: {{edid.chromaticity.redXCoords.toFixed(3)}}  <br />
      Red Y: {{edid.chromaticity.redYCoords.toFixed(3)}} <br />
      Green X: {{edid.chromaticity.greenXCoords.toFixed(3)}}  <br />
      Green Y: {{edid.chromaticity.greenYCoords.toFixed(3)}} <br />
      Blue X: {{edid.chromaticity.blueXCoords.toFixed(3)}}  <br />
      Blue Y: {{edid.chromaticity.blueYCoords.toFixed(3)}} <br />
      White X: {{edid.chromaticity.whiteXCoords.toFixed(3)}}  <br />
      White Y: {{edid.chromaticity.whiteYCoords.toFixed(3)}} <br />
    </div>
  </div>
</div>