<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
      <h3>Chromaticity Coordinates</h3>
    </a>
  </div>
  <div id="collapseOne" class="accordion-body collapse">
    <div class="accordion-inner">
      Red X: {{edid.chromaticity.redXCoords}}  <br />
      Red Y: {{edid.chromaticity.redYCoords}} <br />
      Green X: {{edid.chromaticity.greenXCoords}}  <br />
      Green Y: {{edid.chromaticity.greenYCoords}} <br />
      Blue X: {{edid.chromaticity.blueXCoords}}  <br />
      Blue Y: {{edid.chromaticity.blueYCoords}} <br />
      White X: {{edid.chromaticity.whiteXCoords}}  <br />
      White Y: {{edid.chromaticity.whiteYCoords}} <br />
    </div>
  </div>
</div>