<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#standardTimingInfo">
      <h3>Standard Timing Information</h3>
    </a>
  </div>
  <div id="standardTimingInfo" class="accordion-body collapse">
    <div class="accordion-inner">

      <div class="stdDisplayModes" ng-include src="stdDisplayModes">
      </div>
        
      <div class="detailedTimingDescriptors" ng-include src="detailedTimingDescriptors">
      </div>
      Number of Extensions: {{edid.numberOfExtensions}}  <br />
      Checksum: 0x{{edid.checksum.toString(16).toUpperCase()}} <br />  
    </div>
  </div>
</div>