<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/edid.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</head>
<body>
  <div ng-controller="EdidCtrl">
      <form ng-submit="parseEdid()">
        <label>Edid:</label>
        <textarea ng-model="originalEdid" class="field span7" rows="8"></textarea>
        <input type="submit" value="Parse Edid">
      </form>
      <p>
        <textarea readonly="true" ng-model="scrubbedEdid" class="field span5" rows="8"></textarea>
      </p>

        <div class="edidHeaderInformation" ng-include src="edidHeaderInfo">
        </div>
        <div class="basicDisplayParams" ng-include src="bdpPage">
        </div>
    </div>
</body>
</html>
