<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>EDID Reader</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="js/jquery-1.8.3.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/edid.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</head>
<body>
  <div id="wrap" ng-controller="EdidCtrl">
    
    <div id="main">
      <form ng-submit="parseEdid()">
        <H1>EDID:</H1>
        <textarea id="inputEdid" ng-model="originalEdid" class="field span5" rows="8"></textarea>
        <input type="submit" value="Parse Edid">
      </form>
      <p>
        <textarea id="outputEdid" readonly="true" ng-model="scrubbedEdid" class="field span5" rows="8"></textarea>
      </p>
    </div>
    
    <div id="sidebar">
          <div class="accordion" id="accordion2">
        <div class="edidHeaderInformation" ng-include src="edidHeaderInfo">
        </div>
        
        <div class="basicDisplayParams" ng-include src="bdpPage">
        </div>
        
        <div class="chromacityCoordinates" ng-include src="chromacityCoords">
        </div>
              
        <div class="timingBitmap" ng-include src="timingBitmap">
        </div>
        
        <div class="standardTimingInfo" ng-include src="standardTimingInfo">
        </div>

      </div>
    </div>
      
    </div>
</body>
</html>
