
<h2>Chromaticity Coordinates</h2>

Red X: {{edid.chromaticity.redXCoords.toFixed(3)}}  <br />
Red Y: {{edid.chromaticity.redYCoords.toFixed(3)}} <br />
Green X: {{edid.chromaticity.greenXCoords.toFixed(3)}}  <br />
Green Y: {{edid.chromaticity.greenYCoords.toFixed(3)}} <br />
Blue X: {{edid.chromaticity.blueXCoords.toFixed(3)}}  <br />
Blue Y: {{edid.chromaticity.blueYCoords.toFixed(3)}} <br />
White X: {{edid.chromaticity.whiteXCoords.toFixed(3)}}  <br />
White Y: {{edid.chromaticity.whiteYCoords.toFixed(3)}} <br />
