<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#audio{{$index}}">
      <h5>Audio Data Block</h5>
    </a>
  </div>
  <div id="audio{{$index}}" class="accordion-body collapse">
    <div class="accordion-inner">
      <div ng-repeat="shortAudioDescriptor in dataBlock.shortAudioDescriptors">
        <!-- Short Audio Descriptor Partial -->
        <div class="dataBlock" ng-include src=shortAudioDescView(shortAudioDescriptor.format)>
        </div>
      </div>
    </div>
  </div>
</div>