
<h3>Colorimetry Data Block</h3>

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsBT2020RGB">
Supports BT2020 RGB<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsBT2020YCC">
Supports BT2020 YCC<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsBT2020cYCC">
Supports BT2020 cYCC<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsAdobeRGB">
Supports Adobe RGB<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsAdobeYCC601">
Supports Adobe YCC601<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportssYCC601">
Supports sYCC601<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsxvYCC709">
Supports xvYCC709<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsxvYCC601">
Supports xvYCC601<br />

Gamut MetaData3 (MD3): {{ceaDataBlock.gamutMD3}} <br />
Gamut MetaData2 (MD2): {{ceaDataBlock.gamutMD2}} <br />
Gamut MetaData1 (MD1): {{ceaDataBlock.gamutMD1}} <br />
Gamut MetaData0 (MD0): {{ceaDataBlock.gamutMD0}} <br />

<h4>CTA-861-I Extended Colorimetry</h4>
<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsICtCp">
Supports ICtCp<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsST2094_40">
Supports ST 2094-40 (HDR10+ Adaptive)<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsST2094_10">
Supports ST 2094-10 (HDR10+ Base)<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsBT2100ICtCp">
Supports BT.2100 ICtCp<br />

