<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#speakerAllocation{{$index}}">
      <h5>Speaker Allocation Data Block</h5>
    </a>
  </div>
  <div id="speakerAllocation{{$index}}" class="accordion-body collapse">
    <div class="accordion-inner">

      <div ng-repeat="speakerAllocation in edid.speakerAllocation">
        {{speakerAllocation}}: {{isBitSet(dataBlock.payload,$index)}}
      </div>
    </div>
  </div>
</div>