
<h3>Video Data Block</h3>

<table class="table table-striped">
<tr ng-repeat="shortVideoDescriptor in ceaDataBlock.shortVideoDescriptors"><td>
  Native: {{shortVideoDescriptor.nativeResolution.toString().toUpperCase()}} <br />
  VIC: {{edid.shortVideoDescriptors[shortVideoDescriptor.vic].vic}} <br />
  Format: {{edid.shortVideoDescriptors[shortVideoDescriptor.vic].format}} <br />
  Field Rate: {{edid.shortVideoDescriptors[shortVideoDescriptor.vic].fieldRate}} <br />
  Picture AR: {{edid.shortVideoDescriptors[shortVideoDescriptor.vic].pictureAspectRatio}} <br />
  Pixel AR: {{edid.shortVideoDescriptors[shortVideoDescriptor.vic].pixelAspectRatio}} <br />
</td></tr>
</table>