
<h3>Video Capability Data Block</h3>

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.quantizationRangeYCC">
Quantization Range selectable via AVI YQ for YCC formats<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.quantizationRangeRGB">
Quantization Range selectable via AVI Q for RGB formats<br />

<br />
Overscan underscan behaviour for Preferred Video Format: {{ceaDataBlock.overscanPT}}<br />
<br />
Overscan underscan behaviour for IT Video Formats: {{ceaDataBlock.overscanIT}}<br />
<br />
Overscan underscan behaviour for CE Video Formats: {{ceaDataBlock.overscanCE}}<br />

