
<h3>Video Capability Data Block</h3>

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.quantizationRangeYCC">
Quantization Range selectable via AVI YQ for YCC formats<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.quantizationRangeRGB">
Quantization Range selectable via AVI Q for RGB formats<br />

<br />
Overscan underscan behaviour for Preferred Video Format: {{ceaDataBlock.overscanPT}}<br />
<br />
Overscan underscan behaviour for IT Video Formats: {{ceaDataBlock.overscanIT}}<br />
<br />
Overscan underscan behaviour for CE Video Formats: {{ceaDataBlock.overscanCE}}<br />

<h4>CTA-861-I Gaming & VRR Features</h4>
<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsQMS">
Supports Quick Media Switching (QMS)<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsVRR">
Supports Variable Refresh Rate (VRR)<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsCINEMAVRR">
Supports Cinema VRR<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsNegativeMRR">
Supports Negative Movie Refresh Rate<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsFVA">
Supports Fast VACTIVE (FVA)<br />

<input type="checkbox" 
disabled="disabled" 
ng-checked="ceaDataBlock.supportsALLM">
Supports Auto Low Latency Mode (ALLM)<br />

