<h3>Basic Display Parameters</h3>
<p>
  Digital Input: {{edid.bdp.digitalInput}} <br />
  Video white and sync levels, relative to blank: {{edid.WhiteAndSyncLevels[edid.bdp.whiteSyncLevels]}} <br />
  Blank-to-black setup (pedestal) expected: {{edid.bdp.blankToBlack}} <br />
  Separate sync supported: {{edid.bdp.separateSyncSupported}} <br />
  Composite sync (on HSync) supported: {{edid.bdp.compositeSyncSupported}} <br />
  Sync on green supported: {{edid.bdp.synOnGreen}} <br />
  VSync pulse must be serrated: {{edid.bdp.vsyncSerrated}} <br />
</p>