Type: 0x{{avi.headerType.toString(16).toUpperCase()}} </br>
Version: 0x{{avi.headerVersion.toString(16).toUpperCase()}} </br>
Length: 0x{{avi.headerLength.toString(16).toUpperCase()}} </br>
Checksum: 0x{{avi.checksum.toString(16).toUpperCase()}} </br>
Scan Information: {{avi.getScanInformationString()}} </br>
Bar Data: {{avi.getBarDataString()}} </br>
Active Format Present: {{avi.activeFormatPresent.toString().toUpperCase()}} </br>
Color Space: {{avi.getColorSpaceString()}} </br>
Active Portion Aspect Ratio: {{avi.getActivePortionAspectRatioString()}} </br>
Coded Frame Aspect Ratio: {{avi.getCodedFrameAspectRatioString()}} </br>
Colorimetry: {{avi.getColorimetryString()}} </br>
Non-Uniform Scaling Picture: {{avi.getNonUniformPictureScalingString()}} </br>
RGB Quantization: {{avi.getRgbQuantizationRangeString()}} </br>
Extended Colorimetry: {{avi.getExtendedColorimetryString()}} </br>
IT Content: {{avi.itContent.toString().toUpperCase()}} </br>
VIC: {{avi.vic}} </br>
Pixel Repetition: {{avi.pixelRepetition + 1}}x </br>
IT Content Type: {{avi.getITContentTypeString()}} </br>
YCC Quantization Range: {{avi.getYCCQuantizationRangeString()}} </br>
End of Top Bar (ETB): {{avi.etb}} </br>
Start of Bottom Bar (SBB): {{avi.sbb}} </br>
End of Left Bar (ELB): {{avi.elb}} </br>
Start of Right Bar (SRB): {{avi.srb}} </br>
