
<h3>Detailed Timing Descriptor</h3>

Pixel Clock: {{dtd.pixelClock}}MHz <br />
Horizontal Active: {{dtd.horActivePixels}} <br />
Horizontal Blanking: {{dtd.horBlankPixels}} <br />
Vertical Active: {{dtd.vertActivePixels}} <br />
Vertical Blanking: {{dtd.vertBlankPixels}} <br />
Horizontal Sync Offset: {{dtd.horSyncOff}} <br />
Horizontal Sync Pulse: {{dtd.horSyncPulse}} <br />
Vertical Sync Offset: {{dtd.vertSyncOff}} <br />
Vertical Sync Pulse: {{dtd.vertSyncPulse}} <br />
Horizontal Display Size: {{dtd.horDisplaySize}} <br />
Vertical Display Size: {{dtd.vertDisplaySize}} <br />
Horizontal Border: {{dtd.horBorderPixels}} <br />
Vertical Border: {{dtd.vertBorderLines}} <br />
Interlaced: {{dtd.interlaced}} <br />
Stereo Mode: {{dtd.stereoMode}} <br />
Sync Type: {{dtd.syncType}} <br />
<span ng-show="dtd.syncType == edid.syncTypeEnum.DIGITAL_SEPARATE">
    Vertical Sync Polarity: {{dtd.vSyncPolarity}} <br/>
</span>
<span ng-show="dtd.syncType != edid.syncTypeEnum.DIGITAL_SEPARATE">
    Vertical Sync Serrated: {{dtd.vSyncSerrated}} <br />
</span>

<span ng-show="(dtd.syncType == edid.syncTypeEnum.ANALOG_COMPOSITE) ||
                (dtd.syncType == edid.syncTypeEnum.BIPOLAR_ANALOG_COMPOSITE)">
    Sync on all 3 RGB lines: {{dtd.syncAllRGBLines}} <br/>
</span>
<span ng-show="(dtd.syncType != edid.syncTypeEnum.ANALOG_COMPOSITE) &&
                (dtd.syncType != edid.syncTypeEnum.BIPOLAR_ANALOG_COMPOSITE)">
    HSync polarity: {{dtd.hSyncPolarity}} <br />
</span>
2-Way Line-Interleaved Stereo: {{dtd.twoWayStereo}} <br />
