#aviWrapper {
  width:auto;
}

#aviParsed {
  float:right;
}
#inputTextBox {
  float:left;
  position:relative;
}

#inputText {
  resize: none;
}
#parseButton {
  position:absolute;
  right:0px;
}